@import "./sprite.scss";

body{
    font-family: Helvetica,Tahoma,Arial,
    "Hiragino Sans GB","Microsoft YaHei",SimSun,Heiti,sans-serif;
}

h1 {
    color: red;
}

.nav {
    overflow: hidden;
    height: 82px;
    width: 1240px;
    margin: 0 auto;

    .logo {
        @include sprite($logo);
        float: left;
        margin-top: 32px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        margin-top: 32px;
    }

    li {
        padding: 0;
        margin: 0;
        display: block;
        float: left;
        padding: 0 22px;
        color: rgb(81,81,81);
        cursor: pointer;
        font-size: 14px;
        &:hover {
            color: rgb(54,151,206);
        }
    }
}
$color:red;
.test-var{
    h2{
        color: $color;
    }
}
$color: #efefef;
//变量作用域是全局的，一经修改，就要完蛋了。

//特殊变量
$index:1;
.sp-#{$index}{
    color: blue;
}

.ie-test{
    display: inline-block;
    *display: inline;
    *zoom:1;
}

//@at-root跳出所有的嵌套
.outer{
    a{
        color: #515151;
    }
    @at-root a{
        color: red;
    }
}

//继承@extend
.extend{
    @extend h1;
    text-align: center;
}
// 占位选择器，不被调用不被解析
%r1{
    color: red;
    height: 50px;
    line-height: 50px;
}
.zhanwei{
    @extend %r1;
}
