/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$user-icon-name: 'user-icon';
$user-icon-x: 135px;
$user-icon-y: 0px;
$user-icon-offset-x: -135px;
$user-icon-offset-y: 0px;
$user-icon-width: 22px;
$user-icon-height: 22px;
$user-icon-total-width: 157px;
$user-icon-total-height: 62px;
$user-icon-image: '../img/sprite.png';
$user-icon: (135px, 0px, -135px, 0px, 22px, 22px, 157px, 62px, '../img/sprite.png', 'user-icon', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 42px;
$logo-offset-x: 0px;
$logo-offset-y: -42px;
$logo-width: 115px;
$logo-height: 20px;
$logo-total-width: 157px;
$logo-total-height: 62px;
$logo-image: '../img/sprite.png';
$logo: (0px, 42px, 0px, -42px, 115px, 20px, 157px, 62px, '../img/sprite.png', 'logo', );
$spritesheet-width: 157px;
$spritesheet-height: 62px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($user-icon, $logo, );
$spritesheet: (157px, 62px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
